* {
  margin: 0;
  padding: 0;
  background-color: #4700ca;
}

.main-div {
  margin: 30px;
  text-align: center;
  color: #00ff0d;
}

#input-box {
  color: #ffffff;
  margin: 10px;
  font-size: 1.5rem;
  border: 1px solid yellow;
}
