* {
  margin: 0;
  padding: 0;
  background-color: rgb(21, 0, 206);
}

.main-div {
  margin: 30px;
  text-align: center;
  color: #ffffff;
}

#input-box {
  color: #ffffff;
  margin: 10px;
  font-size: 1.5rem;
}
