* {
  margin: 0;
  padding: 0;
  background-color: #4700ca;
}

.main-div {
  margin: 30px;
  text-align: center;
}
h1 {
  color: #00ff0d;
}
#input-box {
  color: #ffffff;
  margin: 10px;
  padding: 5px 0;
  font-size: 1.5rem;
  border: 1px solid yellow;
  background-color: #280072;
  border-radius: 10px;
  text-align: center;
}

.fa-circle-plus {
  font-size: 1rem;
  color: white;
}

.add-btn {
  padding: 10px;
  /* background-color: rgb(0, 255, 34); */
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 255, 0);
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.icon {
  padding: 0 10px;
  /* background-color: rgb(0, 255, 34); */
  /* color: rgb(0, 0, 0); */
  border: 1px solid black;
  /* font-weight: 700; */
  border-radius: 5px;
  cursor: pointer;
}
.todo-item {
  /* background-color: #5b0080; */
  padding: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
